.minhalista {
     color: whitesmoke                                               
     font-size: 30;
}

.cabecalho {
    border-bottom-style: solid;
    background: greenyellow;
    margin-top: -8px
    margin-left: -8px
    margin-right: -8px
    padding: 1px
}

#cabecalho2 {
    color: blue;
    text-align: center;
}

.rodape {
    border-top-style: solid; 
    background: greenyellow; 
    margin-bottom: -8px;
    margin-left: -8px;
    margin-right: -8px;
    padding: 1px;
}

#rodape2 {
    color: blue;
    text-align: center;
}

.lista {
    color:red;
    font-size: 30;
}

.imagens{  
    

}

#imagem {
    text-align: center;
    border:5px;
    border-style: solid;
    border-color: blue;
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    padding-top:20px;
    padding-bottom:20px;
    margin-left:570px;
    margin-right:570px;
}

#link {
    text-align: center;
}

p {
    color: red;
    font-size: 30;
    text-align: right;
} 

